-- CreateTable
CREATE TABLE "Usuario" (
    "id" SERIAL NOT NULL,
    "run" TEXT NOT NULL,
    "nombre" TEXT NOT NULL,
    "apellido_paterno" TEXT NOT NULL,
    "apellido_materno" TEXT NOT NULL,
    "fono" INTEGER NOT NULL,
    "email" TEXT NOT NULL,
    "password" TEXT,
    "tipo_usuario_id" INTEGER NOT NULL,
    "area_trabajo_id" INTEGER,

    CONSTRAINT "Usuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Tipo_usuario" (
    "id" SERIAL NOT NULL,
    "descripcion" TEXT NOT NULL,

    CONSTRAINT "Tipo_usuario_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Orden_Compra" (
    "id" SERIAL NOT NULL,
    "numero_oc" INTEGER NOT NULL,
    "fecha_emision" TIMESTAMP(3) NOT NULL,
    "usuario_id" INTEGER NOT NULL,

    CONSTRAINT "Orden_Compra_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Solicitud" (
    "id" SERIAL NOT NULL,
    "descripcion" TEXT,
    "estado" BOOLEAN NOT NULL,
    "id_alumno" INTEGER NOT NULL,
    "id_actividad" INTEGER NOT NULL,

    CONSTRAINT "Solicitud_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Actividad" (
    "id_actividad" SERIAL NOT NULL,
    "fecha_actividad" TIMESTAMP(3) NOT NULL,
    "hora_inic_activdad" TIMESTAMP(3) NOT NULL,
    "hora_term_actividad" TIMESTAMP(3) NOT NULL,
    "estado" BOOLEAN NOT NULL,
    "area_trabajo_id" INTEGER NOT NULL,
    "run_alumno" TEXT NOT NULL,

    CONSTRAINT "Actividad_pkey" PRIMARY KEY ("id_actividad")
);

-- CreateTable
CREATE TABLE "Area_trabajo" (
    "id" SERIAL NOT NULL,
    "nombre" TEXT NOT NULL,

    CONSTRAINT "Area_trabajo_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_run_key" ON "Usuario"("run");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_fono_key" ON "Usuario"("fono");

-- CreateIndex
CREATE UNIQUE INDEX "Usuario_email_key" ON "Usuario"("email");

-- CreateIndex
CREATE UNIQUE INDEX "Tipo_usuario_descripcion_key" ON "Tipo_usuario"("descripcion");

-- CreateIndex
CREATE UNIQUE INDEX "Orden_Compra_numero_oc_key" ON "Orden_Compra"("numero_oc");

-- CreateIndex
CREATE UNIQUE INDEX "Area_trabajo_nombre_key" ON "Area_trabajo"("nombre");

-- AddForeignKey
ALTER TABLE "Usuario" ADD CONSTRAINT "Usuario_tipo_usuario_id_fkey" FOREIGN KEY ("tipo_usuario_id") REFERENCES "Tipo_usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Usuario" ADD CONSTRAINT "Usuario_area_trabajo_id_fkey" FOREIGN KEY ("area_trabajo_id") REFERENCES "Area_trabajo"("id") ON DELETE SET NULL ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Orden_Compra" ADD CONSTRAINT "Orden_Compra_usuario_id_fkey" FOREIGN KEY ("usuario_id") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Solicitud" ADD CONSTRAINT "Solicitud_id_alumno_fkey" FOREIGN KEY ("id_alumno") REFERENCES "Usuario"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Solicitud" ADD CONSTRAINT "Solicitud_id_actividad_fkey" FOREIGN KEY ("id_actividad") REFERENCES "Actividad"("id_actividad") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Actividad" ADD CONSTRAINT "Actividad_area_trabajo_id_fkey" FOREIGN KEY ("area_trabajo_id") REFERENCES "Area_trabajo"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Actividad" ADD CONSTRAINT "Actividad_run_alumno_fkey" FOREIGN KEY ("run_alumno") REFERENCES "Usuario"("run") ON DELETE RESTRICT ON UPDATE CASCADE;

